<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <%- include('./partials/nav.ejs') %>

        <body>
            <div class="wrapper">
                <h2>Welcome to MyBlog</h2>
                <h3>Let's Start Your Blog for Free</h3>
                <a href="users/register"><button>Sign Up</button></a>
                <a href="users/login"><button >Sign In</button></a>
            </div>
        </body>


</html>