<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <%- include('./partials/nav.ejs') %>

        <body>
            <div class="wrapper">
                <h1>SignIn</h1>
                <%- include('./partials/msg.ejs') %>
                    <form action="/users/login" method="POST">
                        <label for="username">Username:</label>
                        <input type="text" placeholder="Username" id="username" name="username"><br>
                        <label for="password">Password:</label>
                        <input type="password" placeholder="Password" id="password" name="password"><br>
                        <input type="submit" value="Submit" id="submit">
                    </form>
                    <a href="/users/register">Do not have account</a>
            </div>

        </body>



</html>