<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <%- include('./partials/Usernav.ejs') %>

        <body>
            <div class="wrapper">
                <h2>Hello
                    <%= name %>
                </h2>
                <h2>Welcome to MyBlog</h2>

                <a href="blogs/createblog"><button>Create Blog</button></a>
                <a href="userblog"><button>Your Blogs</button></a>
            </div>
        </body>


</html>