* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 20px 30px;
    height: 10%;
}

header button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
}

header button:hover {
    background-color: white;
    color: black;
}

.wrapper {
    text-align: center;
    font-size: 40px;
    line-height: 1.6;
    /* height: 86vh; */
    padding-top: 150px;
}

.wrapper button {
    width: 200px;
    height: 100px;
    margin-top: 60px;
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
}

.wrapper button:hover {
    background-color: white;
    color: black;
}